body {
  background-color: #012f6d;
  color: white;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.authorRow {
  cursor: pointer;
}

.authorName {
  cursor: pointer;
}

.navbar {
  background-color: #5865F2;
}

.btn-primary {
  --bs-btn-bg: rgb(1, 47, 109);
  --bs-btn-border-color: white;
  --bs-btn-hover-bg: rgb(1, 47, 109, .5);
  --bs-btn-hover-border-color: white;
}

.btn-success {
  --bs-btn-bg: rgb(88, 101, 242);
  --bs-btn-border-color: white;
  --bs-btn-hover-bg: rgb(88, 101, 242, .5);
  --bs-btn-hover-border-color: white;
}

.btn.disabled {
  color: white;
  pointer-events: none;
  background-color: rgb(88, 101, 242);
  border-color: white;
  opacity: var(--bs-btn-disabled-opacity);
}

.table {
  --bs-table-bg: #5865F2;
  --bs-table-color: white;
  --bs-table-striped-color: rgb(250, 229, 229);
}

.tokenError {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: orangered;
  border: 0.2em solid orangered;
  border-radius: 0.5em;
  box-shadow: 0.5em 0.5em 2em orangered;
  padding: 1em;
  margin: 0.5em;
  width: 90dvw;
}