body {
    background-color: #012f6d;
    color: white;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.authorRow {
  cursor: pointer;
}

.authorName {
  cursor: pointer;
}

.discordLogo {
    position: absolute;
    width: 5em;
}

.navbar {
    background-color: #5865F2;
}

.btn-primary {
    --bs-btn-bg: rgb(1, 47, 109);
    --bs-btn-border-color: white;
    --bs-btn-hover-bg: rgb(1, 47, 109, .5);
    --bs-btn-hover-border-color: white;
}

.btn-success {
    --bs-btn-bg: rgb(88, 101, 242);
    --bs-btn-border-color: white;
    --bs-btn-hover-bg: rgb(88, 101, 242, .5);
    --bs-btn-hover-border-color: white;
}

.table {
    --bs-table-bg: #5865F2;
    --bs-table-color: white;
    --bs-table-striped-color: rgb(250, 229, 229);
}