#loginPageMessage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border: 0.2em solid white;
    border-radius: 0.5em;
    box-shadow: 0.5em 0.5em 2em white;
    padding: 1em;
    margin: 0.5em;
    width: 90dvw;

    p {
        margin: 0;
    }
}

#error,
#loggedIn,
#alreadyLoggedIn {
    display: none;
}